@model IEnumerable<mission6assignment.Models.Movie>

<h2 class="text-center mt-4">Joel Hilton Movie Collection</h2>

<div class="container mt-4">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Category</th>   
            <th>Edited</th>
            <th>Copied To Plex</th>
            <th>Actions</th>
        </tr>
        </thead>


        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Year</td>
                <td>@movie.Director</td>
                <td>@movie.Rating</td>
                <td>@movie.Category?.CategoryName</td>   
                <td>@movie.Edited</td>
                <td>@movie.CopiedToPlex</td>

                <td>
                    <a asp-action="Edit"
                       asp-route-id="@movie.MovieId"
                       class="btn btn-warning btn-sm">Edit</a>

                    <a asp-action="Delete"
                       asp-route-id="@movie.MovieId"
                       class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>